In [1]:
import pandas as pd
import numpy as np

In [2]:
vessel_positions_df = pd.read_csv('vessel_positions.csv')
vessel_char_df = pd.read_csv('vessel_characteristics.csv')

C:\Users\Mustafa Ashraf\AppData\Local\Temp\ipykernel_25872\2070354544.py:1: DtypeWarning: Columns (20,21,25,26,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  vessel_positions_df = pd.read_csv('vessel_positions.csv')
C:\Users\Mustafa Ashraf\AppData\Local\Temp\ipykernel_25872\2070354544.py:2: DtypeWarning: Columns (42,47,72,81,154,163,210) have mixed types. Specify dtype option on import or set low_memory=False.
  vessel_char_df = pd.read_csv('vessel_characteristics.csv')

In [3]:
vessel_positions_df.head()

,index,imo,vessel_dwt,status_date_time,in_blackout,ais_speed,ais_draft,vessel_speed_ratio,ais_lat,ais_long,...,real_destination_country_name,real_destination_zone_id,real_destination_zone_name,vessel_operational_status,vessel_commodity_onboard,vessel_commodity_group_onboard,voyage_intake_mt,last_seen,during_cabotage_voyage,vessel_operational_status_group
0,0,1014149,11717,20/08/2024,0,0.0,5.1,NaN,34.3504,133.877,...,Japan,73.0,Far East,waiting_load,NaN,NaN,NaN,19/08/2024 23:56,1,at_port_waiting_load_group
1,1,1014163,39815,20/08/2024,0,0.0,6.1,NaN,-33.8022,137.052,...,China,73.0,Far East,at_port_load,Grain,Grain,27320.0,19/08/2024 23:56,0,in_port_loading_group
2,2,1014199,11722,20/08/2024,0,0.0,4.4,NaN,34.4042,133.425,...,Japan,73.0,Far East,waiting_load,NaN,NaN,NaN,19/08/2024 23:59,1,at_port_waiting_load_group
3,3,1014254,13465,20/08/2024,0,11.8,9.5,NaN,11.7398,109.489,...,Japan,73.0,Far East,at_sea_laden,Steels,Steels,12353.0,19/08/2024 23:59,1,at_sea_laden_group
4,4,1014591,39415,20/08/2024,0,11.0,10.6,NaN,16.4267,113.858,...,NaN,NaN,NaN,at_sea_laden,Steels,Steels,36350.0,19/08/2024 23:52,0,at_sea_laden_group

In [4]:
vessel_positions_df.dtypes

index                                int64
imo                                  int64
vessel_dwt                           int64
status_date_time                    object
in_blackout                          int64
ais_speed                          float64
ais_draft                          float64
vessel_speed_ratio                 float64
ais_lat                            float64
ais_long                           float64
vessel_draft_status                 object
zone_id                            float64
zone_name                           object
zone_entry_time                     object
zone_out_time                       object
updated_at                          object
country_id                         float64
country_name                        object
port_id                            float64
port_name                           object
port_entry_time                     object
port_out_time                       object
operation_location_id              float64
operation_location_name             object
operation_location_type             object
operation_location_entry_time       object
operation_location_out_time         object
waiting_zone_id                    float64
waiting_zone_name                   object
waiting_zone_entry_time             object
waiting_zone_out_time               object
ais_heading                        float64
ais_eta                             object
ais_destination_raw                 object
ais_destination_normalized          object
origin_port_id                     float64
origin_port_name                    object
origin_country_id                  float64
origin_country_name                 object
origin_zone_id                     float64
origin_zone_name                    object
real_destination_port_id           float64
real_destination_port_name          object
real_destination_country_id        float64
real_destination_country_name       object
real_destination_zone_id           float64
real_destination_zone_name          object
vessel_operational_status           object
vessel_commodity_onboard            object
vessel_commodity_group_onboard      object
voyage_intake_mt                   float64
last_seen                           object
during_cabotage_voyage               int64
vessel_operational_status_group     object
dtype: object

In [5]:
vessel_char_df.head()

,id,imo,axs_notes_dry,name,type,subtype,ship_status,registered_owner,ship_owner,tc_operator,...,cranes_number,cranes_swl,cranes_outreach,cranes_position,hold_details,hatches_details,private_comments,private_tags,conversion_date,private_notes
0,83576,9122590,NaN,BERGE FUJI,Bulk carrier,Ore Carrier,DELIVERED,BERGE MAUNA KEA CO SA,BERGE BULK,BERGE BULK,...,0,0.0,0,NaN,NaN,NaN,0,NaN,NaN,NaN
1,94194,9237230,NaN,XH VOYAGER,Bulk carrier,Ore Carrier,DELIVERED,FOND MARINE PTE LTD,ZHOUSHAN XIEHAI SHIPPING,ZHOUSHAN XIEHAI SHIPPING,...,0,0.0,0,NaN,No. 1 : - cbm;No. 2 : - cbm;No. 3 : - cbm;No. ...,No. 1 : - m X - m;No. 2 : - m X - m;No. 3 : - ...,0,NaN,NaN,NaN
2,97323,9270567,NaN,CAPE TOUCAN,Bulk carrier,Ore Carrier,DELIVERED,POLGRYN SHIPPING INC,ZODIAC MARITIME,ZODIAC MARITIME,...,0,0.0,0,NaN,No. 1 : - cbm;No. 2 : - cbm;No. 3 : - cbm;No. ...,No. 1 : 16.91 m X 16 m;No. 2 : 16.91 m X 16 m;...,0,NaN,NaN,NaN
3,98092,9279393,NaN,WINNING EXCELLENCE,Bulk carrier,Ore Carrier,DELIVERED,WINNING EXCELLENCE SHIPPING PTE LTD,WINNING SHIPPING HK,WINNING SHIPPING HK,...,0,0.0,0,NaN,NaN,NaN,0,NaN,NaN,NaN
4,102164,9321275,NaN,BRASIL MARU,Bulk carrier,Ore Carrier,DELIVERED,MOL,MOL,MOL,...,0,0.0,0,NaN,NaN,NaN,0,NaN,NaN,NaN

In [6]:
vessel_char_df.dtypes

id                    int64
imo                   int64
axs_notes_dry        object
name                 object
type                 object
                     ...
hatches_details      object
private_comments      int64
private_tags        float64
conversion_date      object
private_notes       float64
Length: 212, dtype: object

In [9]:
print("Shape of Vessel Positions: ",vessel_positions_df.shape)
print("Shape of Vessel Charactersitics: ",vessel_char_df.shape)

Shape of Vessel Positions:  (71635, 54)
Shape of Vessel Charactersitics:  (14757, 212)

In [19]:
print('Null values in Vessel Characteristics: ')
vessel_char_df.isnull().sum()

Null values in Vessel Characteristics:

id                                0
imo                               0
axs_notes_dry                 12078
name                              0
type                              0
subtype                           0
ship_status                       0
registered_owner                250
ship_owner                      144
tc_operator                     152
beneficial_owner                279
flag                            118
built                             0
demolition_date                   0
dwt                               0
summer_fresh_water_dwt            0
winter_salt_water_dwt             0
tropical_salt_water_dwt           0
tropical_fresh_water_dwt          0
lbp                               0
loa                               0
beam                              0
draft                             0
winter_salt_water_draft           0
tropical_salt_water_draft         0
summer_fresh_water_draft          0
tropical_fresh_water_draft        0
depth                             0
tpc                               0
winter_salt_water_tpc             0
tropical_salt_water_tpc           0
summer_fresh_water_tpc            0
tropical_fresh_water_tpc          0
air_draft                         0
gt                                0
suez_gt                           0
panama_gt                         0
nt                                0
suez_nt                           0
panama_nt                         0
ldt                               0
shipyard                        282
second_shipyard               14756
hull_number                     296
design                         6686
total_main_engines                0
bow_thruster                  14569
stern_thruster                14740
geared                          367
grabs_number                      0
grabs_capacity                    0
total_decks                       0
grain                             0
bale                              0
holds                             0
hatches                           0
active                            0
call_sign                      1556
open_hatches                  13504
lakes_fitted                  14392
logs_fitted                   13203
ahl_fitted                    10807
co2_fitted                     9509
keel_laying_date                  0
launching_date                    0
reported_date                     0
cancelled_date                    0
mmsi                              0
ice_class                     13985
ballast_water                     0
shipbuilding_group             6254
technical_manager             14757
pool                          14756
parent_shipowner              14757
doc_holder                    14757
crew_manager                  14757
ism_manager                   14757
dual_fuel                     14309
scrubbers                     13070
bwts                          10424
ordering_company                402
demolition_country            14753
full_ballast_speed                0
full_laden_speed                  0
eco_ballast_speed                 0
eco_laden_speed                   0
full_ballast_hsfo                 0
full_laden_hsfo                   0
eco_ballast_hsfo                  0
eco_laden_hsfo                    0
port_load_hsfo                    0
in_port_idle_hsfo                 0
full_ballast_ae_lsmgo             0
full_laden_ae_lsmgo               0
eco_ballast_ae_lsmgo              0
eco_laden_ae_lsmgo                0
port_load_ae_lsmgo                0
in_port_idle_ae_lsmgo             0
full_ballast_lsmgo                0
full_laden_lsmgo                  0
eco_ballast_lsmgo                 0
eco_laden_lsmgo                   0
port_load_lsmgo                   0
in_port_idle_lsmgo                0
fresh_water                       0
constants                         0
full_laden_vlsfo                  0
full_ballast_vlsfo                0
eco_laden_vlsfo                   0
eco_ballast_vlsfo                 0
port_load_vlsfo                   0
in_port_idle_vlsfo                0
eco_2_ballast_speed               0
eco_2_laden_speed                 0
eco_2_ballast_hsfo                0
eco_2_laden_hsfo                  0
eco_2_ballast_ae_lsmgo            0
eco_2_laden_ae_lsmgo              0
eco_2_ballast_lsmgo               0
eco_2_laden_lsmgo                 0
eco_2_ballast_vlsfo               0
eco_2_laden_vlsfo                 0
canal_hsfo                        0
canal_ae_lsmgo                    0
canal_lsmgo                       0
canal_vlsfo                       0
port_disch_hsfo                   0
port_disch_ae_lsmgo               0
port_disch_lsmgo                  0
port_disch_vlsfo                  0
hsfo_tank                         0
lsmgo_tank                        0
vlsfo_tank                        0
hatches_type                   6836
tts                            8749
category                          0
market_segment                    0
update_date                       0
registered_owner_id             250
registered_owner_flag           254
registered_owner_flag_id        254
ship_owner_id                   144
ship_owner_flag                 144
ship_owner_flag_id              144
tc_operator_id                  152
tc_operator_flag                152
tc_operator_flag_id             152
beneficial_owner_id             279
beneficial_owner_flag           279
beneficial_owner_flag_id        279
shipyard_id                     282
shipyard_flag                   282
shipyard_flag_id                282
second_shipyard_id            14756
second_shipyard_flag          14756
second_shipyard_flag_id       14756
shipbuilding_group_id          6254
shipbuilding_group_flag        6254
shipbuilding_group_flag_id     6254
technical_manager_id          14757
technical_manager_flag        14757
technical_manager_flag_id     14757
pool_id                       14756
pool_flag                     14756
pool_flag_id                  14756
parent_shipowner_id           14757
parent_shipowner_flag         14757
parent_shipowner_flag_id      14757
doc_holder_id                 14757
doc_holder_flag               14757
doc_holder_flag_id            14757
crew_manager_id               14757
crew_manager_flag             14757
crew_manager_flag_id          14757
ism_manager_id                14757
ism_manager_flag              14757
ism_manager_flag_id           14757
ordering_company_id             402
ordering_company_flag           437
ordering_company_flag_id        437
type_id                           0
subtype_id                        0
ship_status_id                    0
flag_id                         118
design_id                      6686
category_id                       0
demolition_country_id         14753
market_segment_id                 0
exnames                        2028
me_builder                     3757
me_design                      1864
me_model                       1845
me_kw_total                       0
me_hp                             0
me_rpm                            0
ae_number                         0
last_dd_date                  14757
next_dd_date                  10389
last_ss_date                   3341
next_ss_date                   3011
class_society                  2006
cranes_type                    5928
cranes_number                     0
cranes_swl                        0
cranes_outreach                   0
cranes_position               14757
hold_details                   3623
hatches_details                3628
private_comments                  0
private_tags                  14757
conversion_date               14756
private_notes                 14757
dtype: int64

- Columns where all values are null